<% layout("layouts/boilerplate") %>

<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <h1 class="h3"><%= ingredient.name %> bearbeiten</h1>
        <form action="/ingredients/<%= ingredient._id %>?_method=PUT" method="POST" class="row g-3">
            <div class="col-12">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="ingredient[name]"
                       value="<%= ingredient.name %>">
            </div>
            <div class="col-12">
                <label for="icon" class="form-label">Icon</label>
                <input type="text" class="form-control" id="icon" name="ingredient[icon]"
                       value="<%= ingredient.icon %>">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Zutat speichern</button>
            </div>
        </form>

        <form class="d-flex justify-content-end" action="/ingredients/<%= ingredient._id %>?_method=DELETE"
              method="POST">
            <button type="submit" class="btn link link-danger">Zutat löschen</button>
        </form>
    </div>
</div>