<% layout("layouts/boilerplate") %>

<h1>Zutaten</h1>


<% if(ingredients && ingredients.length > 0) { %>
    <div class="row row-cols-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 g-4">
        <% for (let ingredient of ingredients) { %>
            <div class="col">
                <a href="ingredients/<%= ingredient._id %>/edit"
                   class="card text-center link-underline link-underline-opacity-0">
                    <% if(ingredient.icon) { %>
                        <img src="<%= ingredient.icon %>" class="card-img-top" alt="<%= ingredient.name %>"
                             style="aspect-ratio: 1 / 1; object-fit: contain; max-height: 4rem;">
                    <% } else { %>
                        <div class="card-body">
                        <span class="h1">
                            <% if(ingredient.name) { %>
                                <span class="badge text-bg-secondary"><%= ingredient.name.charAt(0) %></span>
                            <% } %>
                        </span>
                        </div>
                    <% } %>
                    <div class="card-body">
                        <h2 class="h6 card-title"><%= ingredient.name %></h2>
                    </div>
                </a>
            </div>
        <% } %>
    </div>
<% } else { %>
    <p class="text-body-secondary">Es wurden noch keine Zutaten hinzugefügt.</p>
<% } %>
<a class="btn btn-primary mt-4" href="/ingredients/new">Neue Zutat anlegen</a>
